@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}


/* BODY */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
html.light h1,
html.light h2,
html.light h3 {
  color: #000000 !important;
}
@media print {
  body * {
    visibility: hidden;
  }

  #pdf-content,
  #pdf-content * {
    visibility: visible;
  }

  #pdf-content {
    position: absolute;
    inset: 0;
    background: black;
    color: white;
    padding: 40px;
  }
}


