@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@theme {
  --font-sans: var(--font-inter);
}

/* 1. AYDINLIK MOD (Varsayılan) */
:root {
  --background: #ffffff; /* Arka plan Bembeyaz */
  --foreground: #000000; /* Yazılar SİMSİYAH */
}

/* 2. KARANLIK MOD */
.dark {
  --background: #050505;
  --foreground: #ffffff; /* Yazılar Bembeyaz */
}

/* 3. HTML / BODY AYARLARI */
/* Burada text-foreground diyerek yukarıdaki değişkeni kullanmasını sağlıyoruz */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s, background-color 0.3s;
}